<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}" dir="{{ 'rtl' if session.get('language') == 'ar' else 'ltr' }}">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ _("Dashboard AI") }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="main-header">
    <div class="container">
        <a href="{{ url_for('main.home') }}" class="logo-link">
            <h2 class="logo">Dashly AI</h2>
        </a>

        <nav>
            <a href="{{ url_for('main.home') }}">{{ _("Home") }}</a>
            <a href="{{ url_for('main.detect_page') }}">{{ _("Detect") }}</a>
            <a href="{{ url_for('main.library_page') }}">{{ _("Library") }}</a>

            <div class="language-switch">
                <a href="{{ url_for('main.set_language', language='en') }}" class="language-pill {% if session.get('language','en') == 'en' %}active{% endif %}">EN</a>
                <a href="{{ url_for('main.set_language', language='ar') }}" class="language-pill {% if session.get('language','en') == 'ar' %}active{% endif %}">AR</a>
            </div>

        </nav>
    </div>
</header>

<main class="main-content">
    {% block content %}{% endblock %}
</main>

</body>
</html>